VITE_APPWRITE_URL = https://cloud.appwrite.io/v1
VITE_APPWRITE_URL = 65a0ed68d157732b630f
VITE_APPWRITE_URL = 65a0eee93e45d2b51858
VITE_APPWRITE_URL = 65a0eefeae1c112c2b89
VITE_APPWRITE_URL =  65a0f0f69569e419c156

# VITE_APPWRITE_URL=https://cloud.appwrite.io/v1
# VITE_APPWRITE_PROJECT_ID=
# VITE_APPWRITE_DATABASE_ID=
# VITE_APPWRITE_COLLECTION_ID=
# VITE_APPWRITE_BUCKET_ID=